html:root {
  --van-search-padding: 0.3rem var(--van-padding-sm);
  --van-search-input-height: 1.02rem;
  --van-search-label-padding: 0 0.15rem;
  --van-tag-border-radius: 0.06rem;
  --van-tag-line-height: 0.48rem;
  --van-tag-medium-padding: 0.06rem 0.18rem;
  --van-uploader-size: 2.4rem;
  --van-uploader-icon-size: 0.72rem;
  --van-uploader-delete-icon-size: 0.42rem;
  --van-uploader-file-icon-size: 0.6rem;
  --van-uploader-mask-icon-size: 0.66rem;
  --van-uploader-loading-icon-size: 0.66rem;
  --van-field-icon-size: 0.48rem;
  --van-field-clear-icon-size: 0.48rem;
  --van-field-error-message-font-size: 0.36rem;
  --van-field-text-area-min-height: 1.8rem;
  --van-field-word-limit-line-height: 0.48rem;
  --van-cell-line-height: 0.72rem;
  --van-cell-vertical-padding: 0.3rem;
  --van-cell-icon-size: 0.48rem;
  --van-cascader-header-height: 1.44rem;
  --van-cascader-title-line-height: 0.6rem;
  --van-cascader-close-icon-size: 0.66rem;
  --van-cascader-selected-icon-size: 0.54rem;
  --van-cascader-tabs-height: 1.44rem;
  --van-cascader-options-height: 11.52rem;
  --van-tabs-line-height: 1.32rem;
  --van-tabs-card-height: 0.9rem;
  --van-tabs-bottom-bar-width: 1.2rem;
  --van-tabs-bottom-bar-height: 0.09rem;
  --van-list-text-line-height: 1.5rem;
  --van-list-loading-icon-size: 0.48rem;
  --van-pull-refresh-head-height: 1.5rem;
  --van-pull-refresh-loading-icon-size: 0.48rem;
  --van-image-preview-index-text-shadow: 0 0.03rem 0.03rem var(--van-gray-8);
  --van-image-preview-close-icon-size: 0.66rem;
  --van-swipe-indicator-size: 0.18rem;
  --van-image-loading-icon-size: 0.96rem;
  --van-image-error-icon-size: 0.96rem;
  --van-dialog-width: 9.6rem;
  --van-dialog-border-radius: 0.48rem;
  --van-dialog-header-line-height: 0.72rem;
  --van-dialog-header-padding-top: 0.78rem;
  --van-dialog-button-height: 1.44rem;
  --van-dialog-round-button-height: 1.08rem;
  --van-action-bar-button-height: 1.2rem;
  --van-button-mini-height: 0.72rem;
  --van-button-small-height: 0.96rem;
  --van-button-normal-padding: 0 0.45rem;
  --van-button-large-height: 1.5rem;
  --van-button-default-height: 1.32rem;
  --van-button-loading-icon-size: 0.6rem;
  --van-action-bar-height: 1.5rem;
  --van-toast-icon-size: 1.08rem;
  --van-toast-text-min-width: 2.88rem;
  --van-toast-default-width: 2.64rem;
  --van-popup-round-border-radius: 0.48rem;
  --van-popup-close-icon-size: 0.66rem;
  --van-popup-close-icon-margin: 0.48rem;
  --van-loading-spinner-size: 0.9rem;
  --van-badge-size: 0.48rem;
  --van-badge-padding: 0 0.09rem;
  --van-badge-dot-size: 0.24rem;
  --van-padding-base: 0.12rem;
  --van-padding-xs: 0.24rem;
  --van-padding-sm: 0.36rem;
  --van-padding-md: 0.48rem;
  --van-padding-lg: 0.72rem;
  --van-padding-xl: 0.96rem;
  --van-font-size-xs: 0.3rem;
  --van-font-size-sm: 0.36rem;
  --van-font-size-md: 0.42rem;
  --van-font-size-lg: 0.48rem;
  --van-font-weight-bold: 500;
  --van-line-height-xs: 0.42rem;
  --van-line-height-sm: 0.54rem;
  --van-line-height-md: 0.6rem;
  --van-line-height-lg: 0.66rem;
  --van-border-width-base: 0.03rem;
  --van-border-radius-sm: 0.06rem;
  --van-border-radius-md: 0.12rem;
  --van-border-radius-lg: 0.24rem;
  --van-border-radius-max: 29.97rem;
}
