// 主题色
$primary: var(--van-blue);
$white: var(--van-white);
$gray: var(--van-gray-7);
$light-gray: var(--van-gray-3);
$black: var(--van-gray-8);
$danger: var(--van-red);
$success: var(--van-green);
$warning: var(--van-orange);

// 字体尺寸
$fontSizeMd: var(--van-font-size-md);
$fontSizeLg: var(--van-font-size-lg);
$fontSizeSm: var(--van-font-size-sm);
$fontSizeXs: var(--van-font-size-xs);
